IMGBTANTERIOR_32x32 BITMAP "ImgBtAnterior_32x32.bmp"
IMGBTPROXIMO_32x32 BITMAP "ImgBtProximo_32x32.bmp"
IMGBTNOVO_32x32 BITMAP "ImgBtNovo_32x32.bmp"
IMGBTALTERAR_32x32 BITMAP "ImgBtAlterar_32x32.bmp"
IMGBTSALVAR_32x32 BITMAP "ImgBtSalvar_32x32.bmp"
IMGBTCANCELAR_32x32 BITMAP "ImgBtCancelar_32x32.bmp"
IMGBTEXCLUIR_32x32 BITMAP "ImgBtExluir_32x32.bmp"
IMGBTPROCURAR_32X32 BITMAP "ImgBtProcurar_32x32.bmp"
IMGBTFECHAR_32x32 BITMAP "ImgBtFechar_32x32.bmp"
IMGBTIMPRIMIR_32x32 BITMAP "ImgBtImprimir_32x32.bmp"
IMGBTCONSULTAR_32x32 BITMAP "ImgBtConsultar_32x32.bmp"
IMGBTDOCUMENTO_32x32 BITMAP "ImgBtDocumento_32x32.bmp"
IMGBTLIBBLOQ_32X32 BITMAP "ImgBtLibBloq_32x32.bmp"
IMGBTIMAGEM_32X32 BITMAP "ImgBtImagem_32x32.bmp"
IMGBTENVIAR_32X32 BITMAP "ImgBtEnviar_32x32.bmp"
IMGBTALERTA_32X32 BITMAP "ImgBtAlerta_32x32.bmp"
IMGBTANTERIOR_16X16 BITMAP "ImgBtAnterior_16X16.bmp"
IMGBTPROXIMO_16X16 BITMAP "ImgBtProximo_16X16.bmp"
IMGBTNOVO_16X16 BITMAP "ImgBtNovo_16X16.bmp"
IMGBTALTERAR_16X16 BITMAP "ImgBtAlterar_16X16.bmp"
IMGBTSALVAR_16X16 BITMAP "ImgBtSalvar_16X16.bmp"
IMGBTCANCELAR_16X16 BITMAP "ImgBtCancelar_16X16.bmp"
IMGBTEXCLUIR_16X16 BITMAP "ImgBtExluir_16X16.bmp"
IMGBTPROCURAR_16X16 BITMAP "ImgBtProcurar_16x16.bmp"
IMGBTDATA_16X16 BITMAP "ImgBtData_16x16.bmp"
IMGBTIMPRIMIR_16x16 BITMAP "ImgBtImprimir_16x16.bmp"
IMGBTCONSULTAR_16x16 BITMAP "ImgBtConsultar_16x16.bmp"
IMGGRMARCAR_16x16 BITMAP "ImgGrMarcar_16x16.bmp"
IMGGRDESMARCAR_16x16 BITMAP "ImgGrDesmarcar_16x16.bmp"
IMGBTLIBBLOQ_16X16 BITMAP "ImgBtLibBloq_16x16.bmp"
IMGBTVOLTAR_16X16 BITMAP "ImgBtVoltar_16x16.bmp"
IMGBTIMAGEM_16X16 BITMAP "ImgBtImagem_16x16.bmp"
IMGBTENVIAR_16X16 BITMAP "ImgBtEnviar_16x16.bmp"
IMGBTALERTA_16X16 BITMAP "ImgBtAlerta_16x16.bmp"